$headings-font-family: 'Roboto', sans-serif;

$primary: #1976d2;/*Material Design Blue 700*/
$dark: #263238; /*Material Design Blue Gray 900*/
$headings-color: #004ba0;/*Material Design Primary Dark*/
$card-bg: #FCFCFC;