/* variables */
/* Gray 700 */
/* Gray 900 */
/* MD A700 */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");
/* font-family: 'Zen Dots', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
/* font-family: 'Press Start 2P', cursive; */
html {
  font-size: 62.54%;
  /* 1rem = 10px */
  line_height: 150%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  vertical-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  background: #616161;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  text-align: center;
  box-shadow: -8px -8px 5px #2e2e2e;
  width: 35rem;
  height: 56rem;
  background-color: #212121;
}

.heading {
  font-family: "Press Start 2P", cursive;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 4rem auto;
}

.sound {
  width: 24rem;
  display: inline-block;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.control_display {
  font-family: "Zen Dots", cursive;
  font-size: 2.2rem;
  width: 20rem;
  padding: 0.8rem;
  border-radius: 1rem;
  border: 0.1rem solid #fff;
  margin-bottom: 3rem;
}

.drum-pad {
  width: 8rem;
  height: 8rem;
  border-radius: 1rem;
  margin: 0.5rem;
  font-size: 3rem;
  display: inline-block;
  text-align: left;
  padding-top: 0.5rem;
  padding-left: 1rem;
  vertical-align: middle;
  background-color: #616161;
  color: #fff;
  cursor: pointer;
}

.drum-pad_set {
  width: 32rem;
  height: 28rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: trasparent;
}

.footer {
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #000;
  line-height: 2rem;
}
.footer a {
  color: #000;
}
.footer a:hover {
  color: #fff;
}

/* Volume slider */
.wrapper {
  position: relative;
  margin: 1rem;
}

input[type=range] {
  -webkit-appearance: none;
  width: 60%;
  margin-left: 2rem;
  margin-right: 2rem;
  background: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 0.7rem;
  border-radius: 0.75rem;
  background: #000;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  height: 0.7rem;
  border-radius: 0.75rem;
  background: #000;
}

input[type=range]::-moz-range-progress {
  background: #fff;
  height: 0.7rem;
  border-radius: 0.75rem 0 0 0.75rem;
}

input[type=range]::-ms-track {
  -webkit-appearance: none;
  height: 1rem;
  border-radius: 0.75rem;
  background: #000;
  color: transparent;
  border: 0;
}

input[type=range]::-ms-fill-lower {
  background: #fff;
  border-radius: 0.75rem 0 0 0.75rem;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.75rem;
  background: #ffffff;
  cursor: pointer;
  margin-top: 0;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.75rem;
  background: #d50000;
  cursor: pointer;
  margin-top: -14px;
}

input[type=range]::-ms-thumb {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.75rem;
  background: #d50000;
  cursor: pointer;
  margin-top: -14px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  /* added line */
}